@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --color-crust: #11111b;
  --color-mantle: #181825;
  --color-base: #1e1e2e;
  --color-surface0: #313244;
  --color-cpink: #f5c2e7;
  --color-main-text: #cdd6f4;
  --color-mognolia: #f3eff5;
  --color-cfooter: #181923;
}

body {
  @apply bg-base text-main-text;
}
